.navigation {

    margin: $space-2;

    @media #{$breakpoint-md} {

        margin-left: $space-4;
        margin-right: $space-4;
        margin-top: $space-3;
        margin-bottom: $space-3;

    }

}