---
layout: homepage
nav: site-nav--light
---

<p>My name is Stefan, I'm a <strong>fullstack developer</strong> based in Zurich, Switzerland. I currently work at 2media. Most of the time I create projects for our clients or maintain and extend internal applications.</p>

<p>In my free time I like to work on my own <a href="{{ "/portfolio/" | prepend: site.baseurl }}" class="page-link">projects</a>,  <a href="{{ "/posts/" | prepend: site.baseurl }}" class="page-link">write</a> articles about development or just enjoy the day.</p>

<p>You can stalk me on the following plattforms:</p>

<ul class="anchor-list">
    <li><a rel="nofollow" href="{{ site.data.urls.twitter }}">Twitter</a></li>
    <li><a rel="nofollow" href="{{ site.data.urls.github }}">Github</a></li>
    <li><a rel="nofollow" href="mailto:hello@stefanzweifel.io">hello@stefanzweifel.io</a></li>
</ul>

<hr>

    <h2>Recent Articles</h2>

    <ul class="portfolio--grid">
        {% for post in site.posts limit:3 %}
        <li>
            <h3>{{ post.title }}</h3>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
        {% endfor %}
    </ul>

<hr>

    <h2>Recent Projects</h2>

    <ul class="portfolio--grid">
        {% for post in site.portfolio limit:3 %}
        <li>
            <h3>{{ post.title }}</h3>
            <p class="description">{{ post.description }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
        {% endfor %}
    </ul>
