---
layout: v5/default
---

<div class="hero mt4 mb4 ml2 mr2 md-m4">
    <h1 class="h2-responsive mt3 mb0">Stefan Zweifel</h1>
    <h2 class="h4-responsive mt0 mb1">Fullstack Developer from Zurich, Switzerland.</h2>

    <ul class="list-reset mb0">
        <li class="inline-block">
            <a rel="nofollow" href="{{ site.data.urls.github }}" class="inline-block mr1">Github</a>
        </li>
        <li class="inline-block">
            <a rel="nofollow" href="{{ site.data.urls.twitter }}" class="inline-block m1">Twitter</a>
        </li>
        <li class="inline-block">
            <a rel="nofollow" href="mailto:hello@stefanzweifel.io" class="inline-block m1">Email</a>
        </li>
    </ul>

</div>

<div class="mt4 mb4">

    <article class="article">

        <h2 class="h2">Recent Articles</h2>

        {% for post in site.posts limit:3 %}

        <div class="mt3 mb3">

            <h2 class="h3">
                <a href="{{ post.url | prepend: site.baseurl }}" class="black">
                    {{ post.title }}
                </a>
            </h2>

            <p class="sans gray caps">Published: {{ post.date | date: "%-d %B %Y" }}</p>

            <p>{{ post.excerpt | truncatewords:25  }}</p>

        </div>

        {% endfor %}
    </article>

</div>

<div class="mt4 mb4">

    <article class="article">

        <h2 class="h2">Recent Projects</h2>

        {% for post in site.portfolio reversed limit:3 %}

        <div class="mt3 mb3">

            <h2 class="h3">
                <a href="{{ post.url | prepend: site.baseurl }}" class="black">
                    {{ post.title }}
                </a>
            </h2>

            <p>{{ post.description }}</p>

            <ul class="list-reset mb0">
                <li class="inline-block">
                   <a href="{{ post.project-url | prepend: site.baseurl }}" class="inline-block mr1">Open Project</a>
                </li>
                <li class="inline-block">
                   <a href="{{ post.url | prepend: site.baseurl }}" class="inline-block ml1">Continue Reading</a>
                </li>
            </ul>

        </div>

        {% endfor %}
    </article>

</div>