---
layout: homepage
nav: site-nav--light
---


<p>I'm a developer. I'm currently working at 2media as a front- and backend-developer. In my spare time, I work on different side projects, write about development and take photos.If you have any questions to my work or to my person, feel free to contact me.</p>

<ul class="anchor-list">
    <li><a rel="nofollow" href="{{ site.data.urls.twitter }}">Twitter</a></li>
    <li><a rel="nofollow" href="{{ site.data.urls.github }}">Github</a></li>
    <li><a rel="nofollow" href="mailto:hello@stefanzweifel.io">hello@stefanzweifel.io</a></li>
</ul>

<hr>

    <h2>Recent Articles</h2>

    <ul class="portfolio--grid">
        {% for post in site.posts limit:3 %}
        <li>
            <h3>{{ post.title }}</h3>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
        {% endfor %}
    </ul>

<hr>

    <h2>Recent Projects</h2>

    <ul class="portfolio--grid">
        {% for post in site.portfolio limit:3 %}
        <li>
            <h3>{{ post.title }}</h3>
            <p class="description">{{ post.description }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
        {% endfor %}
    </ul>
