@import "node_modules/tachyons/css/tachyons";
@import "node_modules/tachyons-flex/src/tachyons-flex";

$black: #212121;
$yellow: #FCB500;
$red: #db2828;
$blue: #303F9F;


body, html {
    @extend .sans-serif;
    color: $black;
}

figure {
    @extend .mv4;
    @extend .mh0;
}

img,
figure {
    @extend .w-100;
    @extend .f5;
}

hr {
    @extend .mw5;
    @extend .bb;
    @extend .bw1;
    @extend .b--black-10;
}


.black {
    color: $black;
}

.bg-black {
    background: $black;
}

a {
    color: $blue;
}

// .article .heading-anchor {
//     text-decoration: none;

//     &:after {
//         content:"\00b6";
//         color: #E0E0E0;
//         padding-right: .5rem;
//         font-weight: normal;
//         margin-left: -1.5rem;
//         font-size: 75%;
//     }
// }

.container {
    max-width: 900px;
    margin: 0 auto;
}

.page--article {

    margin: 0 auto;
    max-width: 900px;

    p {
        @extend .lh-copy;
        @extend .measure;
    }

    ul {
        @extend .lh-copy;
    }

    .hljs {
        @extend .pa4;
    }

}

code {
    background: $yellow;
    padding: 1px 6px;
    word-wrap: break-word;
    font-size: 14px;
    border-radius: 3px;
}

blockquote {
    border-left: 5px solid $black;
    margin-left: 0;
    padding-left: 1rem;
}

.bg-red {
    background: $red;
}

.bg-blue {
    background: $blue;
}

.bg-yellow {
    background: $yellow;
}




/**
 * Homepage Stuff
 */

@import "components/homepage";