<header>
    <nav class="navigation clearfix center md-left md-mt0 mt2">
        <div class="sm-col">
            <a href="{{ site.baseurl }}/" class="inline-block p1 md-p2 black semi-bold sans">Stefan Zweifel</a>
            <a href="{{ "/posts/" | prepend: site.baseurl }}" class="inline-block p1 md-p2 black semi-bold sans">Articles</a>
            <a href="{{ "/portfolio/" | prepend: site.baseurl }}" class="inline-block p1 md-p2 black semi-bold sans">Work</a>
        </div>
    </nav>
</header>