.article {

    p {
        margin-bottom: 0;
        line-height: 1.7;
        font-size: 18px;
    }

    p, figcaption, h1, h2, h3, h4, h5, h6 {
        margin-right: $space-2;
        margin-left: $space-2;
    }

    ul, ol, dl {
        margin: 2em;
    }

    li {
        margin-top: $space-1;
        margin-bottom: $space-1;
    }


    img {
        margin-top: $space-2;
        margin-bottom: $space-2;
    }

    figure {
        margin-top: $space-2;
        margin-bottom: $space-2;
        margin-left: 0;
        margin-right: 0;
    }

    figure > img,
    figure > a > img {
        margin-bottom: $space-2;
        margin-top: 0;
    }

    .caps {
        letter-spacing: 1px;
        font-size: 14px;
    }


    @media #{$breakpoint-md} {

        p, figcaption, h1, h2, h3, h4, h5, h6 {
            margin-left: $space-4;
            margin-right: $space-4;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: $space-2;
            margin-top: $space-3;
        }

        figure, img,  {
            margin-top: $space-4;
            margin-bottom: $space-4;
        }

        img {
            border-radius: 4px;
        }

        ul, ol, dl {
            margin: 2em 4em;
        }

    }

}

.twitter-tweet {
    margin: 0 auto !important;
}

.footnotes p {
    margin: 0;
}

.footnotes {
    border-top: solid 1px #ddd;
}