.nice-anchor {
    color: $blue;
    text-transform: uppercase;
    font-weight: 600;
}

.navigation {

    @media #{$breakpoint-md} {

        margin-left: $space-4;
        margin-right: $space-4;


    }

}