<footer class="pa3 pa4-ns">
    <div>
        <a
            target="blank"
            href="{{ site.github}}"
            title="Language"
            class="f6 dib ph2 link mid-gray dim"
            >
        Github</a>
        <a target="blank" href="{{ site.twitter.url }}"    title="Terms" class="f6 dib ph2 link mid-gray dim">Twitter</a>
        <a href="/imprint/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Imprint</a>
        <a href="/colophon/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Colophon</a>
    </div>
</footer>
