<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ pageTitle }}</title>
<link rel="author" href="/humans.txt">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">

<meta name="theme-color" content="#2C2C2C">

<link rel="icon" href="https://secure.gravatar.com/avatar/{{ site.avatar.md5 }}?s=64" type="image/x-icon">
<link rel="apple-touch-icon" sizes="60x60" href="https://secure.gravatar.com/avatar/{{ site.avatar.md5 }}?s=60" />
<link rel="apple-touch-icon" sizes="76x76" href="https://secure.gravatar.com/avatar/{{ site.avatar.md5 }}?s=76" />
<link rel="apple-touch-icon" sizes="120x120" href="https://secure.gravatar.com/avatar/{{ site.avatar.md5 }}?s=120" />
<link rel="apple-touch-icon" sizes="152x152" href="https://secure.gravatar.com/avatar/{{ site.avatar.md5 }}?s=152" />

<meta property="og:site_name" content="{{site.title}}"/>
<meta property="og:type" content="blog"/>
<meta property="article:author" content="{{ site.facebook }}"/>