a {

    &:hover {
        text-decoration: none;
        color: $dark-gray;
        border-bottom: 1px solid darken($light-gray, 10);
    }

    &.nice-anchor {
        font-family: 'Lato','Helvetica', sans-serif;

        &:after {
            content: '\00A0\2192';
            display: inline-block;
        }
    }

}

.animated-link {
    position:relative;
    overflow:hidden;
    display: inline-block;
    text-decoration: none;

    &:hover {
        border-bottom: none;
    }
}

.animated-link::after {
    position:absolute;

    display: block;

    content: '';
    width: 100%;

    bottom:0;
    height: 2px;

    background: $blue;

    transform:translateX(-100%);
    transition: transform .3s;
}

.animated-link:hover::after {
    transform:translateX(0);
}