a {

    border-bottom: 1px solid $light-gray;
    color: $indigo;
    // font-style: italic;

    &:hover {
        text-decoration: none;
        color: $dark-gray;
        border-bottom: 2px solid darken($light-gray, 10);
    }

}