.page-footer {

    border-top: 1px solid $light-gray;

    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    text-align: center;

    @include media($tablet) {
        margin-left: initial;
        margin-right: initial;
    }

}