body, html {
    min-height: 100%;
    font-family: $serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: em(27);
}

h3 {
    font-size: em(19);
}

ul, ol {
    margin: 16px 0;
    padding: 0 0 0 40px;
    list-style-type: initial;
}

.container {
    @include outer-container;
    @include media($tablet) {
        padding: 20px;
    }
}

hr {
    max-width: 23em;
    max-width: 100%;
    margin: 2em 50px;
    border-color: #DADADA;
}



/**
 * Code Highlighing
 */

.highlight {
    background-color: #111;
    padding: 15px 10px;
    margin: 20px 0;

    pre {
        margin: 0;
        overflow: auto;
    }

    code {
        color: $white;
    }
}

.feedback {
    margin: 40px auto;
    padding: 20px 0;
    border-top: solid 1px $light-gray;
}