.site-nav {

    font-family: $sans-serif;
    margin-top: 20px;

    a {
        margin: 0 20px 0 0;
        text-transform: uppercase;
        color: #fff;

        transition: padding .1s ease-in;



        &:hover, &:visited {
            color: #fff;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
        }
    }

    @include media($tablet) {
        margin-top: 0;
    }

    @include media($mobile) {
        text-align: center;
        margin-top: 0;
        line-height: 1.8;
    }

}