.page-header {
    background-color: $dark-blue;
    background-image: url($background-image);
    background-size: cover;
    background-position: center center;

    min-height: 250px;
    border-bottom: 1px solid #A5A5A5;
    margin-bottom: 20px;
    color: $white;
}

.portfolio-header {
    background-image: url($portfolio-image);
}

.resource-header {
    background-image: url($resource-image);
}

.about-header {
    background-image: url($about-image);
}

