.page--heading {
    letter-spacing: 1px;

    hr {
        margin: 1em 0 0;
    }
}

.page__content, .post__content {

    margin: 0 auto;
    @include media($mobile) {
        width: 100%;
    }

    p {
        line-height: 1.8;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }

}