.page__heading {
    margin-top: 100px;
    text-transform: uppercase;
}

.page__content {
    width: 66.666666%;
    @include media($mobile) {
        width: 100%;
    }
}

.page__content, .post__content {
    p {
        font-size: em(16);
        line-height: em(28);
    }
    img {

        box-shadow: 0 0 1px 1px rgba(206, 206, 206, 0.67);

    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}