//Variables
$max-width: 900px;

$sans-serif: 'Open Sans', "source-sans-pro", Helvetica, sans-serif;

$dark-blue: #162d42;
$white: white;
$yellow: #74713c;
$indigo: #4054B2;

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width $max-width 4);

//Background Images
$background-image: "/img/background-test.jpg";

//portrait
$portfolio-image: "/img/background-controller.png";

// playstation
$resource-image: "/img/background-macbook.png";

//skateboard
$about-image: "/img/background-skateboard.png";

//skateboard
$posts-image: "/img/background-posts.jpg";