/**
 * stefanzweifel.io - Version 5
 */

/** BASSCSS Stuff */
@import "basscss_defaults";
@import "basscss";

@import "./_dev/sass/vendor/basscss-responsive-white-space/index";

@import "stefanzweifel/helpers";
@import "stefanzweifel/main";
@import "stefanzweifel/article";

.highlight {
    background-color: $navy;
    padding: $space-3;
    margin: $space-3 0;

    pre {
        margin: 0;
        overflow: auto;
    }

    code {
        color: $white;
        background: none;
    }
}

code {
    background: $light-gray;
    padding: 2px 6px;
    word-wrap: break-word;
    font-size: 14px;
}

@media #{$breakpoint-md} {

    .highlight {
        margin: $space-4 0;
        border-radius: 4px;
    }

}


@import "stefanzweifel/syntax";

