<!DOCTYPE html>
<html>

    {% include head.html %}
    <body>
        <div class="page--decoration"></div>

        <div class="hero-content">
            <div class="container">
                {% include navigation.html %}

                <div class="homepage-signature">
                    <h1>Stefan Zweifel</h1>
                    <p>Fullstack Developer</p>
                </div>

            </div>

        </div>

        <div class="container">

            <article>

                {{ content }}

            </article>

            {% include footer.html %}

        </div>

    </body>
</html>