/**
 * stefanzweifel.io - Version 5
 */

/** BASSCSS Stuff */
@import "basscss_defaults";
@import "basscss";

@import "./_dev/sass/vendor/basscss-responsive-white-space/index";

@import "stefanzweifel/helpers";
@import "stefanzweifel/main";
@import "stefanzweifel/article";

body {
    background: #fefefd;
}

a {
    color: $black;
    text-decoration: underline;

    &:hover {
        color: $yellow;
    }
}

h2 a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.nav {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.navigation a {
    text-decoration: none;
}

.navigation li+li {
    margin-left: $space-2;
}

/**  */

.highlight {
    background-color: #2B3940;
    padding: $space-3;
    margin: $space-3 0;

    pre {
        margin: 0;
        overflow: auto;
    }

    code {
        color: $white;
        background: none;
    }
}

code {
    background: $yellow;
    padding: 2px 6px;
    word-wrap: break-word;
    font-size: 14px;
}

@media #{$breakpoint-md} {

    .highlight {
        margin: $space-4 0;
        border-radius: 4px;
    }

}


@import "stefanzweifel/syntax";

